{% block title %}
    Survey
{% endblock %}

{% block content %}

    <p>
        Thank you for your participation! Finally, I would kindly ask you to answer the following survey.
    </p>

    {% formfield 'name' label='What is your name?' %}

    {% formfield 'age' label='What is your age?' %}

    {% formfield 'gender' label='What is your gender?' %}

    {% formfield 'phone' label='Detail your phone number with the area code (it will be used to give the prize to the lottery winner):' %}

    {% formfield 'bachelor' label='Have you ever studied a bachelor?' %}

    {% next_button %}

{% endblock %}