{% block title %}
    Second price auction game: bid
{% endblock %}


{% block content %}

    <p>
        Recall that the player with the highest bid gets the object, and she pays a price equal to the rival's bid. The player
        with the lowest bid does not get the object, nor she pays for it. [TREATMENT 1: The signal reveals your rival's value
        half of the times.] [TREATMENT 2: The signal reveals your rival's value.]
        [WITHIN TREATMENT: This round you are playing against a bot!]
    </p>
    <p>
        The value of the object to you is <strong>{{ player.private_value }}</strong>.
        If you win the auction, you would have a payoff of
        <strong>{{ player.private_value }} - second highest bid</strong>.
    </p>

    <div class="form-group required">
        <label class="control-label" for="id_bid_amount">
            Please submit a bid for the object:
        </label>
       {% formfields %}
    </div>

    {% next_button %}


{% endblock %}


