{% block title %}
    Survey
{% endblock %}

{% block content %}

    <p>
        Thank you for your participation! Finally, I would kindly ask you to answer the following survey.
    </p>

    {% formfield 'name' label='What is your name?' %}

    {% formfield 'age' label='What is your age?' %}

    {% formfield 'gender' label='What is your gender?' %}

    {% formfield 'phone' label='Detail your phone number with the area code (it will be used to give the prize to the lottery winner):' %}

    {% formfield 'solidarity' label='Indicate to what extent you agree or disagree with the following statement: <i>"I do not care about how much money I have, what concerns me is that there are people who have <strong>less</strong> money than me"</i>.' %}

    {% formfield 'envy' label='Indicate to what extent you agree or disagree with the following statement: <i>"I do not care about how much money I have, what concerns me is that there are people who have <strong>more</strong> money than me"</i>.' %}

    {% formfield 'overbidding' label='In the experiment, have you ever bid above your own value? If you did so, why?' %}

    {% formfield 'bachelor' label='Have you ever studied a bachelor?' %}

    {% formfield 'quantitative_training' label='If so, did you have a quantitative training during the program (e.g. Chemistry, Engineering, Economics, Maths, Physics...)?' %}

    {% formfield 'economics' label='Have you ever studied Economics?' %}

    {% formfield 'economics_level' label='If you have studied Economics, Which is your highest acquired level of studies?' %}

    <p>
        Note: In case you change your mind and you do not want to participate in this experiment, you can ask to erase
        your personal information by sending a mail to ``fchristm@eco.uc3m.es". If you have further doubts about the use
        of information provided here, please write to this email.
    </p>

    {% next_button %}

{% endblock %}