<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 10) {
                $('.otree-timer').show();
            }
        });
    });
</script>


{% block title %}
    Second price auction game: signal
{% endblock %}


{% block content %}

    <p>
        Recall that the player with the highest bid gets the object, and she pays a price equal to the rival's bid. The player
        with the lowest bid does not get the object, nor she pays for it. The signal reveals your rival's value.
    </p>

    <p>
        You value the object in <strong>{{ player.private_value }}</strong>.
    </p>

    <p>
        The signal's cost is <strong>{{ player.signal_cost }}</strong>.
    </p>

    <p>
        Do you want to buy the signal?
    </p>

    <button name="signal_purchase" class="otree-btn-yes btn btn-primary" value="True">Yes</button>
    <button name="signal_purchase" class="otree-btn-yes btn btn-primary" value="False">No</button>

{% endblock %}